@media screen and (max-width: 1200px) and (min-width: 992px){
h1 {
    font-size: 50px;
}
.mobile_line {
	display: none;
}
.container {
	width: 960px;
}
.title_line {
	height: 100px;
}
#phone {
	font-size: 32px;
  margin-top: 0px; 
  text-align: right;
}
.modal {
	padding: 2rem;
}
.personal_comment {
	width: 314px;
  min-height: 460px;
}
.modal>div {
  margin: 10px auto;
}
#modal_price .modal_header {
	padding-bottom: 12px;
}
}