@media screen and (max-width: 992px) and (min-width: 768px){
h1 {
    font-size: 40px;
}
h2 {
    font-size: 36px;
    padding-top: 10px;
}
.mobile_line {
	display: none;
}
.container {
	width: 720px;
}
.title_line {
	height: 80px;
	padding: 25px 0 45px;
}
#phone {
	font-size: 26px;
  margin-top: 0px; 
  padding-top: 7px;
  text-align: right;
}
#modal_diplomas>div {
  width: 630px;
}
.modal>div {
	width: 557px;
}
.portfolio_subsection_name {
	height: 30%;
}
.portfolio_subsection_name p {
	top: 20%;
  padding: 0 50px 0 15px;
}
.dialog_img_real_size,
.modal_real_size>div {
	width: 60% !important;
}
.modal_real_size>div {
	margin: 10px auto;
}
.modal_title h2 {
	padding-top: 0px; 
  padding-bottom: 10px;
}
.modal_diploma_real_size>div,
.dialog_diploma {
	width: 80% !important;
}
.personal_comment {
	width: 355px;
	min-height: 400px;
}
.ava {
	width: 150px !important;
  height: 150px;
}
.owl-theme .owl-nav {
	top: 175px;
}
.owl-theme .owl-dots {
	text-align: left;
  margin-left: 20px;
}
#instagram .owl-theme .owl-nav {
    top: 40px;
}
}




@media screen and (max-width: 768px) {
	ul.container {
    width: 540px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
.mobile_line {
	display: inline-block;
	position: fixed;
	top: 0;
  z-index: 999;
  width: 100%;
  height: 45px;
  background-color: #000;
}
.mobile_phone {
	font-family: 'Philosopher', sans-serif;
	width: auto;
  float: right;
  color: #fff;
  padding-top: 8px;
  margin-right: 20px;
}
.mobile_icon {
    /*display: none;*/
    width: 40px;
    height: 35px;
    margin-left: 20px;
    margin-top: 3px;
    position: relative;
    cursor: pointer;
    float: left;
}

.mobile_icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    cursor: pointer;
}

.mobile_icon span:nth-child(1) {
    top: 6px;
}

.mobile_icon span:nth-child(2), .mobile_icon span:nth-child(3) {
    top: 17px;
}

.mobile_icon span:nth-child(4) {
    top: 28px;
}
.menu.menu-open .mobile_icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu-open .mobile_icon span:nth-child(2) {
    transform: rotate(45deg);
}

.menu.menu-open .mobile_icon span:nth-child(3) {
    transform: rotate(-45deg);
}

.menu.menu-open .mobile_icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu-open #main_menu {
    display: block;  
}
#main_menu {
	position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        left: 0;
height: auto;
        display: none;
        overflow: auto;

        margin-top: 45px;

        /*opacity: 0;*/
        border-top: 1px solid #fff;
        background-color: #000;
}
.menu.menu-open #main_menu {
        display: block;
            text-align: center;
        opacity: 1;
    } 
    .main_menu_button {
    	display: block;
    	padding-left: 0px !important;
    	margin: 10px 0px 10px 0px !important;
    }
    .main_menu_button:hover {
			margin-right: 0px;
}
    .main_menu_icon {
    	/*display: block;*/
    	float: none;
    	padding-right: 15px;
    	padding-left: 15px;
    }
    .main_menu_icon:hover {
	margin-left: 0px !important;
	padding-right: 15px;
}
#main_menu ul li a {
	padding-right: 0px;
}
#portfolio:before, #comments:before {
    display: block;
    content: "";
    height: 45px;
    margin: -45px 0 0;
}
.table_price tr:hover td:nth-child(odd) {
	padding-left: 10px !important;
	transition: none;
}
.table_price tr:hover td:nth-child(even) {
	padding-right: 10px;
	transition: none;
}
}





@media screen and (max-width: 768px) and (min-width: 576px) {
body {
  font-size: 14px;
}
.container {
	width: 540px;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 26px;
    padding-top: 10px;
}
#phone {
	font-size: 24px;
  margin-top: 0px; 
  padding-top: 7px;
  text-align: left;
}
.button_order_call {
	font-size: 16px;
}
.modal>div {
	width: 70%;
}
#modal_diplomas>div {
	width: 323px;
}
.modal_diploma_real_size>div,
.dialog_diploma {
	width: 80% !important;
}
figure.portfolio_subsection {
	width: 50%;
}
.portfolio_subsection_name {
	text-align: center;
}
.portfolio_subsection_name p {
	  font-size: 20px;
    font-weight: bold;
    top: 20%;
    margin: 6px auto auto;
}
/*.portfolio_subsection_img:hover ~ .portfolio_subsection_name, 
.portfolio_subsection_name:hover {
	top: 45%;
}*/
#modal_wedding_hairstyle>div {
    width: 377px;
}
.dialog_img_real_size {
	width: 70% !important;
}
.ava {
    width: 120px !important;
    height: 120px;
}
.name {
    margin: 20px 10px 10px;
    font-size: 18px;
}
.personal_comment {
	width: 265px;
	min-height: 380px;
  padding-bottom: 0px;
}
.owl-theme .owl-nav {
	 top: 127px;
}
.button_link {
	font-size: 16px;
	padding: 12px;
}
#instagram .owl-theme .owl-nav {
    top: 50px;
}
}